@charset "UTF-8";

body {
    font-family: "Noto Sans JP";
    margin: 0;
    overflow-y: scroll;
    width: 100%;
}

/* ------------------------------------ */
/* reset */
/* ------------------------------------ */
p,
ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}

li {
    list-style: none;
}

/* ------------------------------------ */
/* util */
/* ------------------------------------ */
.hide_pc {
    display: none !important;
}

.hide_sp {
    display: block !important;
}

/* ------------------------------------ */
/* Mart公式販売 */
/* ------------------------------------ */
a {
    transition: 0.2s;
}

a:hover.btn:before {
    right: -52px;
}

/* ------------------------------------ */
/* main */
/* ------------------------------------ */
.main_bg {
    background-image: url(img/main_01.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;
    z-index: -999;
    transition: 0.3s;
    margin-top: 80px;
}

hr {
    width: 30px;
    margin: 2px auto;
}

/* ------------------------------------ */
/* ヘッダー */
/* ------------------------------------ */
header {
    position: scroll;
    width: 100%;
}

.heaer__logo {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 0 0 196px 0;
    background-color: #020341;
    z-index: 9999;
}

.header__menu {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    width: 100%;
    background: #ACA19A;
    height: 80px;
    text-align: center;
    z-index: 999;
}

.header__menu--sp {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    width: 100%;
    background: #ACA19A;
    height: 85px;
    text-align: center;
    z-index: 999;
}

.menu__list--sp {
    text-align: right;
    margin-right: 37%;
}

.menu__list--sp a {
    position: absolute;
    background-color: #48382B;
    outline: 1px solid rgb(255, 255, 255);
    outline-offset: -5px;
    text-align: center;
    height: 60px;
    width: 60px;
    text-decoration: none;
    font: normal normal normal 0.8rem/61px Noto Sans JP;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    top: 0;
    border-radius: 50%;
    margin-top: 13px;
}

.menu__resrve {
    background-color: #48382B;
    outline: 1px solid rgb(255, 255, 255);
    outline-offset: -5px;
    text-align: center;
}

.header__menu ul {
    text-align: right;
    position: absolute;
    width: 100%;
    top: 0;
    margin-right: 0;
    margin-left: auto;
}

.header__menu ul .menu__list {
    display: inline-block;
    vertical-align: middle;
}

.header__menu_li {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 999;
    transition: 0.3s;
    margin-top: -135px;
    margin-left: -100px;
}

.header__logo {
    height: 450px;
}

.header__menu ul .menu__list a {
    display: block;
    padding: 12px 15px;
    margin: 1 1px;
    text-decoration: none;
    font-weight: 100;
    font: normal normal normal 20px/28px Noto Sans JP;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.header__menu ul .menu__list a:after {
    content: "";
    display: block;
    width: 0;
    transition: 0.2s;
}

.hamburger-menu-wrapper {
    position: absolute;
    right: 0;
    margin-top: 15px;
    margin-right: 15px;
    background: rgba(172, 161, 155, 1.0);
    border-radius: 60px;
    background: #48382B 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 4px #00000066;
    display: inline-block;
}

.menu-overlay {
    transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    height: 100vw;
    border-radius: 0 0 0 100vw;
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(172, 161, 155, 1.0);
    z-index: 1111;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
}

.hamburger-menu {
    top: 0;
    border: 0;
    margin: 0 auto;
    display: block;
    position: relative;
    overflow: hidden;
    padding: 0;
    width: 57px;
    height: 57px;
    font-size: 0;
    text-indent: -9999px;
    cursor: pointer;
    z-index: 9999;
    cursor: pointer;
    background: transparent;
}

.menu-list {
    display: none;
    position: absolute;
    top: 8vw;
    left: 0;
    right: 0;
    width: 62%;
    margin: 0 auto;
    text-align: center;
    z-index: 9999;
}

.menu-list a {
    color: #000;
    text-decoration: none;
    font-size: 1.0rem;
    display: inline-block;
    margin: 11px 0;
    transition: all 0.5s ease;
}

.menu-list a:hover {
    color: #000;
}

.hamburger-menu:focus {
    outline: none;
}

.hamburger-menu span {
    display: block;
    position: absolute;
    top: 48%;
    left: 30%;
    right: 30%;
    height: 3px;
    background: #FFFFFF;
}

.hamburger-menu span:before,
.hamburger-menu span:after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    margin: 0 auto;
    background-color: #FFFFFF;
    content: "";
}

.hamburger-menu span:before {
    top: -10px;
}

.hamburger-menu span:after {
    bottom: -10px;
}

.hamburger-menu span:before,
.hamburger-menu span:after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

.hamburger-menu span:before {
    transition-property: top, transform;
}

.hamburger-menu span::after {
    transition-property: bottom, transform;
}


.hamburger-menu.active span {
    background: none;
}

.hamburger-menu.active span:before {
    top: 0;
    transform: rotate(225deg);
}

.hamburger-menu.active span:after {
    bottom: 0;
    transform: rotate(135deg);
}

.hamburger-menu.active span:before,
.hamburger-menu.active span:after {
    transition-delay: 0s, 0.3s;
}

@keyframes bounce {
    0% {
        transform: rotate(0);
    }

    45% {
        transform: rotate(15deg);
    }

    90% {
        transform: rotate(-7deg);
    }

    100% {
        transform: rotate(0);
    }
}

/* ------------------------------------ */
/* title */
/* ------------------------------------ */
#title {
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto 40px;
    vertical-align: middle;
}

#title h2 {
    top: 22%;
    left: 0;
    right: 0;
    margin-top: 120px;
    margin-bottom: 0px;
    color: #48382B;
    font-size: 1.8rem;
}

#title p {
    top: 54%;
    left: 0;
    right: 0;
    margin-bottom: 50px;
    color: #ACA19A;
    font-size: 14px;
}

/* ------------------------------------ */
/* MAIN */
/* ------------------------------------ */
.wrapper #main {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.costplan__outside {
    display: table;
    position: relative;
    background-color: #48382B;
    width: 15%;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    margin-top: 3%;
    margin-bottom: 10%;
    vertical-align: middle;
    text-align: center;
    box-shadow: 0px 3px 10px #00000066;
    opacity: 1;
}

.costplan {
    display: block;
    margin: 40px auto;
    width: 270px;
    height: 55px;
    font-size: 1.2rem;
    background-color: #48382B;
    text-align: center;
    line-height: 55px;
    box-shadow: 4px 4px 0px 0 rgb(172, 161, 155);
}

.costplan a {
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
}

.banner {
    width: 100%;
}

/* ------------------------------------ */
/* コンセプト（CONCEPT） */
/* ------------------------------------ */
.service__content {
    margin: auto;
}

.service__content ul .content__detail {
    padding: 30px 0;
    display: flex;
}

.service__content ul .content__detail .detail__text {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.service__content ul .content__detail .detail__text p {
    padding-right: 30px;
    padding-bottom: 3%;
    line-height: 1.7;
}

.service__content ul .content__detail .detail__img {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.service__content ul .content__detail .detail__img img {
    width: calc(100% - 30px);
    padding-left: 30px;
}

.cotent__border {
    position: relative;
    margin-bottom: 40px;
}

.number__img {
    position: absolute;
}

.borderline {
    height: 47px;
    border-bottom: 3px solid rgba(172, 161, 155, 0.8);
}

.detail__title {
    text-align: left;
    font: normal normal bold 1.3rem/48px Noto Sans JP;
    letter-spacing: 0px;
    color: #433838;
    opacity: 1;
    padding-bottom: 0;
}

.detail__matter {
    text-align: left;
    font: normal normal normal 0.9rem/48px Noto Sans JP;
    letter-spacing: 0px;
    color: #433838;
    opacity: 1;
}

.content__btn {
    display: block;
    margin: 40px auto;
    width: 350px;
    height: 55px;
    font-size: 1.2rem;
    background-color: #48382B;
    text-align: center;
    line-height: 55px;
    box-shadow: 4px 4px 0px 0 rgb(172, 161, 155);
}

.content__btn a {
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
}

/* ------------------------------------ */
/* お店の特徴（INTERIOR） */
/* ------------------------------------ */
.shoptext {
    text-align: center;
    font: normal normal normal 0.9rem/26px Noto Sans JP;
    letter-spacing: 0px;
    color: #433838;
    opacity: 1;
    margin-bottom: 20px;
}

.interior__content {
    display: flex;
    height: 294px;
    text-align: center;
    margin: auto;
    padding-bottom: 205px;
}

.shop__matter {
    text-align: center;
    background: #F3F0E9 0% 0% no-repeat padding-box;
    opacity: 0.7;
}

.detail_shop p {
    display: flex;
    width: 100%;
    text-align: left;
    font: normal normal 300 0.9rem/20px Noto Sans JP;
    color: #522F12;
    opacity: 1;
}

.detail_shop img {
    width: 100%;
    height: 100%;
    display: flex;
}

/* ------------------------------------ */
/* スタッフ紹介（STAFF） */
/* ------------------------------------ */
.staff__background {
    display: flex;
    height: auto;
    margin: auto;
    background: #ACA19A 0% 0% no-repeat padding-box;
    flex-flow: column;
    opacity: 1;
}

.title__content {
    display: flex;
    width: 100%;
    height: 20%;
    margin: 0 auto;
}

.title__mater {
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto 40px;
    vertical-align: middle;
    color: #FFFFFF;
}

.title__mater h2 {
    top: 22%;
    left: 0;
    right: 0;
    margin-top: 50px;
    margin-bottom: 0px;
    font-size: 1.8rem;
    color: #FFFFFF;
}

.title__subtitle {
    top: 54%;
    left: 0;
    right: 0;
    color: #FFFFFF;
    font-size: 14px;
}

.staff__content {
    display: flex;
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding-top: 20px;
}

.staff__columnbox {
    display: flex;
    flex-flow: column;
    width: 50%;
    height: auto;
    float: left;
}

.staff__detail {
    display: flex;
    position: relative;
    width: 100%;
    float: left;
}

.staff__introduction {
    flex-direction: column;
    text-align: center;
    width: 50%;
    padding-left: 15px;
}

.staff__img {
    position: relative;
    width: 40%;
    padding-left: 20px;
    padding-right: 5px;
}

.staff__img:before {
    position: absolute;
    top: 3px;
    left: 23px;
    width: calc(100% - 24px);
    height: 100%;
    border: 1px solid #000;
    content: '';
}

.img__full {
    width: 100%;
    height: 100%;
}

.staff__text {
    display: flex;
    width: 85%;
    margin-bottom: 20px;
}

.staff__position {
    width: 90px;
    text-align: center;
    font: normal bold normal 0.9rem/34px Noto Sans JP;
    letter-spacing: 0px;
    color: #48382B;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    margin-right: 12px;
    opacity: 1;
}

.staff__mater {
    width: 65%;
    text-align: left;
    font: normal normal normal 0.9rem/36px Noto Sans JP;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.staff__qualification {
    display: flex;
    width: 85%;
}

.staff__comment {
    position: relative;
    text-align: left;
    width: 95%;
    margin-top: 20px;
    margin-bottom: 70px;
    margin-left: 20px;
}

.staff__comment p {
    width: 100%;
    text-align: left;
    font: normal normal normal 0.9rem/26px Noto Sans JP;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

/* ------------------------------------ */
/* 施術メニュー（MENU） */
/* ------------------------------------ */
.ordermade__title {
    height: 40px;
    margin: auto;
    padding: 5px 0;
    background-color: #48382B;
    text-align: center;
    font: normal bold normal 1.2rem/40px Noto Sans JP;
    font-weight: 500;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-bottom: 40px;
    opacity: 1;
}

.ordermade__mater {
    text-align: center;
    font: normal normal normal 0.9rem/26px Noto Sans JP;
    font-weight: 500;
    letter-spacing: 0px;
    color: #433838;
    opacity: 1;
    margin-bottom: 40px;
}

.ordermade__numbers {
    display: flex;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
    justify-content: center;
}

.ordermade__time {
    text-align: right;
    font: normal normal normal 1.8rem/52px Noto Sans JP;
    letter-spacing: 0px;
    color: #433838;
    width: 50%;
    padding-right: 3%;
}

.ordermade__cost {
    width: 50%;
    padding-left: 3%;
    text-align: left;
    font: normal normal bold 2.2rem/47px Noto Sans JP;
    letter-spacing: 0px;
    color: #433838;
}

#menu .menulist {
    position: relative;
    background-color: #F3F0E9;
    border-color: #48382B;
    text-align: center;
    margin: auto;
    padding: 30px;
    margin-bottom: 20px;
}

#menu .menulist:before {
    position: absolute;
    top: 7px;
    left: 7px;
    content: '';
    width: 100%;
    height: 100%;
    outline: 2px solid #48382B;
}

#menu .menulist h3 {
    background-color: #433838;
    color: #FFFFFF;
    text-align: center;
    background: #433838 0% 0% no-repeat padding-box;
    opacity: 1;
    font: normal normal bold 1.0rem/36px Noto Sans JP;
    letter-spacing: 0px;
    font-weight: 500;
    width: 75%;
    margin: auto;
    margin-bottom: 8px;
}

.menutext {
    text-align: left;
    font: normal normal normal 0.9rem/26px Noto Sans JP;
    letter-spacing: 0px;
    color: #433838;
    width: 70%;
    margin: auto;
    margin-bottom: 5px
}

.menulist__outside {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 auto;
    padding-top: 10px;
    font: normal normal normal 0.9rem/32px Noto Sans JP;
    letter-spacing: 0px;
    color: #433838;
    opacity: 1;
}

/* ------------------------------------ */
/* アクセス（ACCESS） */
/* ------------------------------------ */
#access__content {
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
}

#access__text {
    width: 40%;
    height: 100%;
    text-align: left;
}

.adress__text {
    text-align: left;
    font: normal normal normal 0.9rem/26px Noto Sans JP;
    letter-spacing: 0px;
    color: #433838;
    opacity: 1;
}

iframe {
    width: 100%;
    aspect-ratio: 16/9;
}

.access__map {
    border: 0;
    width: 60%;
    height: 464px;
}

/* ------------------------------------ */
/* お問い合わせ（CONTACT） */
/* ------------------------------------ */
.contact__btn {
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 300%;
    justify-content: center;
}

a.btn--contact {
    color: #fff;
    text-align: center;
    background-color: #433838;
    margin-top: 0px;
    margin-bottom: 100px;
    top: 0px;
    left: 0px;
}

a.btn--contact:hover {
    color: #fff;
    background: #433838;
}

a.btn-c {
    display: block;
    margin: 40px auto;
    width: 350px;
    height: 55px;
    font-size: 1.2rem;
    background-color: #48382B;
    text-align: center;
    line-height: 55px;
    box-shadow: 4px 4px 0px 0 rgb(172 161 155);
    text-decoration: none;
}

a.btn-c:before {
    font-family: 'Font Awesome 5 Free';
    font-size: 1.6rem;
    line-height: 1;
}

/* ------------------------------------ */
/* フッター */
/* ------------------------------------ */
footer {
    background-color: rgba(172, 161, 155, 1.0);
    padding-bottom: 20px;
    text-align: center;
    font-size: 10px;
}

.footer__logo {
    width: 15%;
    margin-top: 30px;
    margin-bottom: 50px;
}

.footer__address {
    text-align: center;
    width: 30%;
    height: 87px;
    margin: 0 auto;
    font: normal normal normal 1.0rem/26px Noto Sans JP;
    font-weight: 500;
    letter-spacing: 0px;
    color: #595757;
    opacity: 1;
    margin-bottom: 40px;
}

.footer__copyright {
    font: normal normal normal 14px/27px Meiryo;
    color: #707070;
}

/* min-width: 768px */
@media only screen and (min-width: 768px) {
    .wrapper #main {
        max-width: 720px;
    }
}

/* min-width: 1200px */
@media only screen and (min-width: 1200px) {
    .wrapper #main {
        max-width: 1140px;
    }
}

/* max-width: 1200px */
@media only screen and (max-width: 1200px) {
    .hide_pc {
        display: block !important;
    }

    .hide_sp {
        display: none !important;
    }

    .heaer__logo {
        position: relative;
        width: 34vw;
        height: 34vw;
        max-width: 130px;
        max-height: 130px;
        z-index: 9999;
    }

    .heaer__logo a.logo__img {
        display: block;
        position: absolute;
        width: 24vw;
        max-width: 100px;
        top: 33px;
        left: 10px;
    }
}

/* max-width: 767px */
@media only screen and (max-width: 767px) {
    #title {
        margin: 0 auto 30px;
    }

    #title p {
        margin-bottom: 30px;
    }

    #title h2 {
        top: 22%;
        left: 0;
        right: 0;
        margin-top: 40px;
        margin-bottom: 0px;
        color: #48382B;
        font-size: 28px;
    }

    .header__logo {
        height: 350px;
    }

    .header__menu_li {
        display: flex;
        width: 100%;
        height: 100%;
        z-index: 999;
        transition: 0.3s;
        margin-top: -95px;
        margin-left: -135px;
    }

    .main_bg {
        position: scroll;
        background-image: url(img/main_01_sp.jpg);
        width: 100%;
        height: 40vh;
        z-index: -999;
        transition: 0.3s;
        margin-top: 50px;
    }

    .wrapper #main {
        max-width: 720px;
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;
    }

    .wrapper .block-l {
        width: calc(100% - 30px);
        padding-right: 15px;
        padding-left: 15px;
    }

    .wrapper .block-l2 {
        width: 100%;
        margin-bottom: 80px;
    }

    .block-l {
        margin-bottom: 80px;
    }

    img.banner {
        width: 100%;
        height: auto;
    }

    .costplan {
        display: block;
        margin: 40px auto;
        width: 100%;
        height: 55px;
        font-size: 1.2rem;
        background-color: #48382B;
        text-align: center;
        line-height: 55px;
        box-shadow: 4px 4px 0px 0 rgb(172, 161, 155);
    }

    .costplan a {
        font-weight: 600;
        color: #FFFFFF;
        text-decoration: none;
    }

    .number__img img {
        width: 80%;
    }

    .service__content ul .content__detail {
        padding: 0 0 30px;
        display: block;
    }

    .service__content ul .content__detail .detail__text {
        width: 100%;
        vertical-align: top;
    }

    .service__content ul .content__detail .detail__text p {
        padding-right: 0;
        padding-bottom: 4%;
        line-height: 1.7;
    }

    .service__content ul .content__detail .detail__img {
        width: 100%;
        height: auto;
        vertical-align: top;
        padding-top: 6%;
        text-align: center;
    }

    .service__content ul .content__detail .detail__img img {
        width: 100%;
        height: auto;
        padding-left: 0;
        text-align: center;
    }

    .borderline {
        height: 30px;
    }

    .detail__title {
        font: normal normal bold 22px/48px Noto Sans JP;
        text-align: center;
    }

    .detail__matter {
        text-align: left;
        font: normal normal normal 1.0rem/45px Noto Sans JP;
        letter-spacing: 0px;
        color: #433838;
        opacity: 1;
    }

    .detail_shop p {
        width: 100%;
        font: normal normal 300 1rem/19px Noto Sans JP;
        color: #522F12;
        opacity: 1;
        justify-content: center;
    }

    .content__btn {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 55px;
        font-size: 1.2rem;
        background-color: #48382B;
        text-align: center;
        line-height: 55px;
        box-shadow: 4px 4px 0px 0 rgb(172, 161, 155);
    }
    
    .content__btn a {
        font-weight: 600;
        color: #FFFFFF;
        text-decoration: none;
    }

    .shoptext {
        text-align: left;
        width: 100%;
        margin: 0 auto 20px;
        font: normal normal normal 1.0rem/28px Noto Sans JP;
    }

    .interior__content {
        display: flex;
        flex-flow: column;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 20px;
        height: auto;
    }

    .shop__matter {
        text-align: center;
        height: 100%;
        background: #F3F0E9 0% 0% no-repeat padding-box;
        opacity: 0.7;
    }

    .title__mater {
        margin: 0 auto 20px;
    }

    .title__mater h2 {
        top: 22%;
        left: 0;
        right: 0;
        margin-top: 20px;
        margin-bottom: 0px;
        color: #FFFFFF;
        font-size: 32px;
    }

    .title__mater p {
        top: 54%;
        left: 0;
        right: 0;
        color: #FFFFFF;
        font-size: 14px;
    }

    .title__subtitle p {
        margin-bottom: 30px;
    }

    .title__content {
        justify-content: center;
    }

    .staff__content {
        display: block;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        height: auto;
        padding-top: 20px;
    }

    .staff__columnbox {
        display: flex;
        flex-flow: column;
        width: 100%;
        height: auto;
        float: left;
    }

    .staff__position {
        font: normal bold normal 1rem/28px Noto Sans JP;
    }

    .staff__mater {
        font: normal normal normal 1rem/28px Noto Sans JP;
    }

    .staff__comment {
        position: relative;
        text-align: left;
        width: 90%;
        margin: 20px 20px 70px;
    }

    .staff__comment p {
        font: normal normal normal 1rem/28px Noto Sans JP;
    }

    .ordermade__mater {
        text-align: left;
        font: normal normal normal 1rem/28px Noto Sans JP;
        font-weight: 500;
        letter-spacing: 0px;
        color: #433838;
        opacity: 1;
        margin-bottom: 20px;
    }

    .ordermade__time {
        text-align: right;
        font: normal normal normal 1.2rem/28px Noto Sans JP;
        letter-spacing: 0px;
        color: #433838;
        width: 40%;
        padding-right: 5%;
    }

    .ordermade__cost {
        width: 60%;
        padding-left: 5%;
        text-align: left;
        font: normal normal bold 1.4rem/28px Noto Sans JP;
        letter-spacing: 0px;
        color: #433838;
    }

    #menu .menulist {
        background-color: #F3F0E9;
        border-color: #48382B;
        text-align: center;
        margin: 0;
        padding: 30px;
        margin-bottom: 20px;
    }

    #menu .menulist h3 {
        width: 100%;
    }

    .menutext {
        text-align: left;
        font: normal normal normal 1rem/28px Noto Sans JP;
        letter-spacing: 0px;
        color: #433838;
        width: 100%;
        margin: auto;
        height: 100px;
    }

    .menulist__outside {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 100%;
        margin: 0 auto;
        padding-top: 10px;
        font: normal normal normal 1rem/28px Noto Sans JP;
        letter-spacing: 0px;
        color: #433838;
        opacity: 1;
    }

    #access__content {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin: auto;
    }

    #access__text {
        width: 100%;
        height: 100%;
        text-align: left;
        margin-left: 0px;
        margin-bottom: 15px;
    }

    .adress__text {
        text-align: left;
        font: normal normal normal 1rem/28px Noto Sans JP;
        letter-spacing: 0px;
        color: #433838;
        opacity: 1;
    }

    .access__map {
        border: 0;
        width: 100%;
        height: 80vw;
    }

    a.btn-c {
        margin: 0 auto;
        font-size: 1.2rem;
        background-color: #48382B;
        text-align: center;
        line-height: 55px;
        box-shadow: 4px 4px 0px 0 rgb(172 161 155);
        text-decoration: none;
    }

    .footer__logo {
        width: 60%;
        margin-top: 40px;
        margin-bottom: 40px
    }

    .footer__address {
        text-align: center;
        width: 50%;
        height: 87px;
        margin: 0 auto;
        font: normal normal normal 13px/22px Noto Sans JP;
        font-weight: 500;
        letter-spacing: 0px;
        color: #595757;
        opacity: 1;
    }

    .footer__copyright {
        font: normal normal normal 10px/19px Meiryo;
        color: #707070;
    }
}