@charset "UTF-8";
.reserve__img-area {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.reserve__img:first-child {
    width: 67%;
}
.reserve__img:last-child {
    width: 30%;
    margin-left: 10px;
}
.reserve__online-text {
    color: #84784A;
    font-size: 11px;
    line-height: 1.7;
    margin-top: 13px;
    letter-spacing: -0.025em;
}
.reserve__tel-text {
    color: #84784A;
    font-size: 14px;
    line-height: 1.7;
}
.reserve__tel-text li {
    list-style: inside;
    margin-left: 5px;
}
.reserve__tel-area {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}
.reserve__tel-area .btn-l {
    width: 48%;
    text-align: left;
    margin: 10px 0 0;
    color: #FFFFFF;
    padding-top: 9px;
    padding-bottom: 7px;
}
.reserve__tel-area .btn-l:nth-child(2n) {
    margin-left: 8px;
}
.reserve__tel {
    font-size: 11px;
}
@media screen and (min-width: 600px) {
    a[href^="tel:"]{
        pointer-events: none;
    }
}
