@charset "UTF-8";

/*----------------------------
* メインビジュアル
*----------------------------*/
.main-visual {
    width: 100vw;
    height: 100vh;
}

/*----------------------------
* キャッチコピー
*----------------------------*/
.catch-copy-wrapper {
    display: flex;
    flex-direction: column;
}
.catch-copy-area {
    margin: 58px 20px 30px;
}
.catch-copy {
    color: #84784A;
    font-size: 15px;
    line-height: 2.1;
    text-align: center;
}
@media screen and (min-width: 1025px) {
    .catch-copy-wrapper {
        flex-direction: row;
    }
    .catch-copy-area {
        margin: auto;
    }
    .catch-copy {
        font-size: 24px;
        line-height: 2;
    }
}

/*----------------------------
* イントロダクション画像
*----------------------------*/
.intro-img-area {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.intro-img-area:first-child {
    display: none;
}
.intro-img__sub-area {
    margin-right: 6px;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.intro-img__main-area {
    width: 67%;
}
@media screen and (min-width: 1025px) {
    .intro-img-area {
        margin: 10px 0 0;
        flex-direction: column;
        width: 27%;
    }
    .intro-img-area:first-child {
        display: block;
    }
    .intro-img__main-area {
        width: 100%;
    }
    .intro-img__sub-area {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .intro-img-area:first-child .intro-img__sub-area {
        margin-top: 10px;
    }
    .intro-img__sub-area div:nth-child(n + 2) {
        margin-left: 10px;
    }
}

/*----------------------------
* キャンペーン
*----------------------------*/
.campaign-area {
    margin: 53px 20px;
}
.campaign {
    margin-top: 29px;
}
.campaign__link {
    color: #84784A;
}
.campaign__main-img {
    border-top: 3px solid #84784A;
}
.campaign__shop-area {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 7px;
}
.campaign__shop {
    margin: 2px 2px 0 0;
    background-color: #84784A;
    color: #FFFFFF;
    width: fit-content;
    padding: 1px 2px;
    font-size: 10px;
    line-height: 1.4;
}
.campaign__date {
    color: #84784A;
    font-size: 11px;
    line-height: 1.3;
    margin: 7px 0 11px;
}
.campaign__title {
    color: #84784A;
    font-size: 18px;
    margin: 11px 0;
}
.campaign__description {
    color: #84784A;
    font-size: 11px;
    line-height: 1.7;
    margin-top: 12px;
}
.campaign__description p {
    font-size: 14px;
    line-height: 1.7;
}
.campaign__description p:nth-child(n + 2) {
    margin-top: 20px;
}
.campaign-swiper-button-prev--sp,
.campaign-swiper-button-next--sp {
    top: 75%;
}
.campaign-swiper-button-prev--pc,
.campaign-swiper-button-next--pc {
    display: none;
}
.campaign-thumbnail {
    margin-top: 16px;
}
.campaign-thumbnail .swiper-wrapper {
    flex-wrap: wrap;
}
.campaign-thumbnail .swiper-slide {
    width: 48%;
    min-width: 48%;
    margin: 19px 0;
    margin-right: 0 !important;
}
@media screen and (min-width: 1025px) {
    .campaign-area {
        margin: 110px 0 0;
    }
    .campaign__main-img {
        border-top: 5px solid #84784A;
    }
    .swiper-area {
        display: flex;
        position: relative;
    }
    .swiper-inner {
        width: 50%;
    }
    .campaign-thumbnail {
        margin-top: 0;
        margin-left: 3%;
        width: 50%;
    }
    .campaign-thumbnail .swiper-wrapper {
        height: auto;
    }
    .campaign-thumbnail .swiper-slide {
        margin-top: 0;
    }
    .campaign-thumbnail .campaign__shop-date-area {
        display: flex;
        align-items: baseline;
    }
    .campaign__shop {
        padding: 2px 5px;
        font-size: 14px;
    }
    .campaign__date {
        font-size: 14px;
    }
    .campaign-thumbnail .campaign__shop-date-area .campaign__date {
        margin-left: 25px;
        white-space: nowrap;
    }
    .campaign__title {
        font-size: 24px;
        line-height: 1.75;
    }
    .campaign__description {
        font-size: 14px;
        line-height: 2;
    }
    .campaign-swiper-button-prev--sp,
    .campaign-swiper-button-next--sp {
        display: none;
    }
    .campaign-swiper-button-prev--pc,
    .campaign-swiper-button-next--pc {
        display: block;
    }
    .campaign-swiper-button-prev--pc {
        left: -5%;
        zoom: 0.7;
    }
    .campaign-swiper-button-next--pc {
        right: -5%;
        zoom: 0.7;
    }
}

/*----------------------------
* ニュース
*----------------------------*/
.news-area {
    margin: 53px 20px;
}
.news-list {
    margin-bottom: 10px;
    border-bottom: 1px solid #84784A;
}
.news {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}
.news__date {
    color: #84784A;
    font-size: 13px;
    line-height: 1.1;
    width: 19%;
}
.news__icon-area {
    margin-left: 16px;
    margin-right: 9px;
}
.news__new {
    background-color: #E40000;
    color: #FFFFFF;
    font-size: 10px;
    line-height: 1.4;
    width: 63px;
    text-align: center;
    padding: 1px;
    margin-bottom: 2px;
}
.news__shop {
    background-color: #84784A;
    color: #FFFFFF;
    font-size: 10px;
    line-height: 1.4;
    width: 63px;
    text-align: center;
    padding: 1px;
}
.news__shop:nth-child(n + 2) {
    margin-top: 2px;
}
.news__link {
    color: #84784A;
}
.news__description {
    line-height: 1.7;
    font-size: 11px;
    width: 53%;
}
@media screen and (min-width: 600px) {
    .news {
        justify-content: right;
    }
    .news__date {
        width: 10%;
    }
    .news__description {
        width: 70%;
    }
}
@media screen and (min-width: 1025px) {
    .news-area {
        margin: 80px 0 0;
    }
    .news-list-area {
        width: 100%;
        display: flex;
        align-items: center;
    }
    .news-list-wrapper {
        display: flex;
        align-items: center;
        max-width: 1366px;
        margin: 43px auto 0;
    }
    .news-list {
        width: 100%;
        border-bottom: none;
        margin-left: 104px;
        margin-right: 76px;
    }
    .news {
        justify-content: flex-start;
        align-items: center;
        margin: 15px 0;
        width: 874px;
    }
    .news__date {
        margin-right: 14px;
        font-size: 18px;
        width: 89px;
    }
    .news__icon-area {
        display: flex;
        width: 148px;
    }
    .news__icon-area--flex-row {
        flex-wrap: wrap;
    }
    .news__new {
        margin-bottom: 0;
        font-size: 14px;
        padding: 1px 7px;
    }
    .news__shop {
        font-size: 14px;
        padding: 1px 7px;
        width: 98px;
        white-space: nowrap;
    }
    .news__shop:nth-child(n + 2) {
        margin-top: 0;
        margin-left: 4px;
    }
    .news__icon-area--flex-row .news__shop:nth-child(n + 2) {
        margin-top: 4px;
        margin-left: 0;
    }
    .news__description {
        margin-left: 14px;
        font-size: 18px;
        width: 608px;
    }
}

/*----------------------------
* 撮影メニュー
*----------------------------*/
.shooting-menu-area {
    margin: 53px 20px;
}
.shooting-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.shooting-list--pc {
    display: none;
}
.shooting-list__sub {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.shooting {
    width: 48%;
    margin-bottom: 20px;
}
.shooting__kind,
.shooting__price {
    color: #84784A;
    font-size: 16px;
    text-align: center;
}
.shooting__kind {
    margin-top: 13px;
}
.shooting__price {
    margin-top: 11px;
}
.shooting__message {
    color: #84784A;
    font-size: 16px;
    line-height: 1.8;
    text-align: center;
    width: 336px;
    margin: 19px auto 0;
}
@media screen and (min-width: 1025px) {
    .shooting-menu-area {
        margin: 110px auto;
        max-width: 1366px;
    }
    .shooting-list--sp {
        display: none;
    }
    .shooting-list--pc {
        display: flex;
    }
    .shooting-list__main {
        width: 41%;
    }
    .shooting-list__sub {
        width: 56%;
        margin-left: 40px;
    }
    .shooting-list__main .shooting {
        width: 100%;
    }
    .shooting-list__sub .shooting {
        width: 30%;
    }
    .shooting__kind,
    .shooting__price {
        font-size: 24px;
    }
    .shooting__kind {
        margin-top: 16px;
    }
    .shooting__price {
        margin-top: 16px;
    }
    .btn-m--shooting {
        margin: 0;
        width: 100%;
        height: 74%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .shooting__under-area {
        display: flex;
    }
    .shooting__under-area .block-m {
        width: 30%;
        margin: 0;
    }
    .shooting__under-area .block-m:nth-child(2) {
        margin: 0 61px;
    }
    .shooting__under-area img {
        height: 200px;
        width: auto;
    }
    .album-wrapper {
        display: flex;
    }
}

/*----------------------------
* 伊勢丹写真室とは
*----------------------------*/
.about-area {
    margin: 30px 0;
}
.about__img-area {
    position: relative;
}
.about__catch-copy {
    color: #84784A;
    font-size: 26px;
    line-height: 1.3;
    font-family: "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 50%;
    bottom: -49px;
    transform: translate(-50%,-50%);
    width: 260px;
}
.about__message {
    color: #84784A;
    font-size: 15px;
    line-height: 2.1;
    text-align: center;
    margin-top: 69px;
}

/*----------------------------
* 撮影スタジオ一覧
*----------------------------*/
.studio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 29px;
}
.studio {
    width: 43vw;
    margin-bottom: 20px;
}
.studio__name-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 13px;
}
.studio__name {
    color: #84784A;
    font-size: 16px;
    line-height: 1.8;
}
.studio__icon {
    width: 18px;
}
.studio__to-detail {
    width: 43vw;
    height: 43vw;
    max-height: 179px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #84784A;
    font-size: 14px;
    line-height: 1.7;
    font-family: "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
    border: 1px solid #84784A;
    position: relative;
}
@media screen and (min-width: 600px) {
    .studio-list {
        margin: 0 20px;
    }
    .studio__to-detail {
        max-height: initial;
    }
}
@media screen and (min-width: 1025px) {
    .studio-list {
        max-width: 1366px;
        margin: 29px auto 0;
        justify-content: space-around;
    }
    .studio {
        width: 22vw;
    }
    .studio__to-detail {
        display: none;
    }
}

/*----------------------------
* Q&A
*----------------------------*/
@media screen and (min-width: 600px) {
    .faq-area-wrapper {
        margin: 0 20px;
    }
}
@media screen and (min-width: 1025px) {
    .faq-area-wrapper {
        display: flex;
        max-width: 1366px;
        margin: 0 auto;
        align-items: center;
    }
}

/*----------------------------
* 企業の方へ
*----------------------------*/
.for-company__img-area {
    position: relative;
}
.for-company__text-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #FFFFFF;
}
.for-company__title-en {
    font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif;
    font-size: 34px;
    width: 308px;
    text-align: center;
}
.for-company__title-ja {
    font-size: 14px;
    text-align: center;
    margin-top: 8px;
}
@media screen and (min-width: 600px) {
    .for-company__img-area {
        margin: 0 20px;
    }
}
@media screen and (min-width: 1025px) {
    .for-company__img-area {
        max-width: 1366px;
        margin: 0 auto;
    }
}
