@charset "UTF-8";

#blog {}

#blog .article {
	padding: 30px 0;
	border-bottom: 1px solid #000; 
}
#blog .article:first-child{
	border-top: 1px solid #000;
}

#blog .article__head{
	display: inline-block;
	width: 30%;
    vertical-align: top;
}

#blog .article__detail{
	display: inline-block;
	width: 67%;
    vertical-align: top;
    margin-left:2.5%;
}
#blog .article__detail .detail__img{
	margin-bottom: 10px;
}
#blog .article__detail .detail__img .img img {
	width: 100%;
}

#blog .article__detail .detail__img .img{
	display: inline-block;
}
#blog .article__detail .detail__img.detail__img--2 .img {
	width: calc((100% - 15px)/2);
}
#blog .article__detail .detail__img.detail__img--2 .img:first-child{
	margin-right: 10px;
}
#blog .article__detail .detail__img.detail__img--3 .img {
	width: calc((100% - 20px)/3);
}

#blog .article__detail .detail__text + .detail__text{
	margin-top: 1em;
}

.detail__text a{
	position: relative;
    display: inline-block;
    color: #ff9800;
    text-decoration: none;
    padding-left: 70px;
}
.detail__text a:before{
	content: "";
    display: block;
    position: absolute;
    top: 5px;
    bottom: 0;
    left: 0;
    margin: auto 0;
    background-image: url(../img/arrow_r.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 14px;
    transition: 0.3s;
}
.detail__text a:hover {
	color: #FED530;
}
.detail__text a:hover:before{
	left: 8px;
}

@media only screen and (max-width: 767px) {
#blog .article__head{
	display: block;
	width: 100%;
    vertical-align: top;
}

#blog .article__detail{
	display: block;
	width: 100%;
    vertical-align: top;
    margin-left:0%;
}
}